body {
  font-family: "Roboto", sans-serif;
  background-color: #d8d8d8;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  background-color: #fff;
  padding: 2rem;
}

.login h1 {
  text-align: center;
  margin-bottom: 2rem;
}

label {
}

label p {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

label input {
  padding: 0.5rem 1rem;
  margin-bottom: 1.5rem;
  border: 1px solid #000;
  width: 100%;
  font-size: 1.8rem;
}

.login button {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  background-color: #000;
  cursor: pointer;
  color: #fff;
  border: none;
  transition: background-color 0.3s ease;
}

.login button:hover {
  background-color: rgb(42, 42, 42);
}
