html {
  font-size: 10px;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #ffffff;
}

h1 {
  font-size: 2.5rem;
}

p {
  font-size: 1rem;
}

img {
  width: 100%;
}
